{% extends 'base.html' %}


{% block content %}


{% if error %}

{{ error }}


{% endif %}
<div align="center">
<h1>Sign UP!</h1>

<form method="POST" action="{% url 'signup' %}">
{% csrf_token %}


<br/>
<input type="text" name="username" placeholder="User Name" id="ip1"/>



<br/>
<br/>
<input type="password" name="password1"placeholder="Password">
<br/>
<br/>
<input type="password" name="password2"placeholder="Password">

<br/>
<br/>

<input class= "btn btn-secondary" type="submit" value="Sign UP"/>

</form>
</div>

{% endblock %}

